# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.log
models/
.vscode/
result/
data/
pytorch_venv/
*.sh
!run_loo_xval.sh
!segmentation_nnunet_workspace/*.sh
*.out
.venv*
*.venv*
output/
deliverables/
LaTex/

# OS cruft
.DS_Store
